* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.navbar {
  height: 72px;                  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;              

}

.logo img {
    width: 139px;
  height: 60px;                    
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.menu li a {
  text-decoration: none;
  color: #2b2b2b;
}

 .batn {
  background-color: #3a8f62;  
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.menu li a:hover {
  color: #3a8f62;
}

.menu li .btn:hover {
  background-color: #2f7a55;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height:80vh;
}

.button_access{
    margin-bottom: 30px;
}

.button_access a{
    text-decoration: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
}

.banner_container h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 16px;
}

.banner_container .color_text{
    color: #30B868;
}

.banner_containerr p{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
}

.hero_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button{
   height: 48px;              
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #30B868;
    color:#F7F6F2;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.btn{
    background-color: transparent;
   height: 48px;                 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

/* Hero Section One Style */
.section_card{
    max-width: 1600px;
    width: 100%;
    margin: 50px auto;
}

.section_card .card_heading{
    text-align: center;
    font-size: 48px;
    color: #001931;
    font-weight:700 ;
    margin-bottom: 16px;
}

.section_card .card_info{
    color: #627382;
    text-align: center;
    line-height: 20px;
    margin-bottom: 40px;
}

/* This is container design */
.section_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* This is define define height & widht and background */
.section_container .card{
    width: 300px;
    height: 300px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow:1px 0px 12px 0 rgba(0, 0, 0, 0.08);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* This is card image design */
.card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 12px;
    margin-bottom:16px ;
}

/* This is Card h3 design */
.card h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* This is card Paragraph design */
.card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
