* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.navbar {
  height: 72px;                  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;              

}

.logo img {
    width: 139px;
  height: 60px;                    
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.menu li a {
  text-decoration: none;
  color: #2b2b2b;
}

 .btn {
  background-color: #3a8f62;  
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.menu li a:hover {
  color: #3a8f62;
}

.menu li .btn:hover {
  background-color: #2f7a55;
}
