.inter-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.navbar {
  height: 72px;                  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;              

}

.logo img {
    width: 139px;
  height: 60px;                    
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.menu li a {
  text-decoration: none;
  color: #2b2b2b;
}

 .batn {
  background-color: #3a8f62;  
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.menu li a:hover {
  color: #3a8f62;
}

.menu li .btn:hover {
  background-color: #2f7a55;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height:80vh;
}

.button_access{
    margin-bottom: 30px;
}

.button_access a{
    text-decoration: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
}

.banner_container h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 16px;
}

.banner_container .color_text{
    color: #30B868;
}

.banner_containerr p{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;

}

.hero_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.button{
   height: 48px;              
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #30B868;
    color:#F7F6F2;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.btn{
    background-color: transparent;
   height: 48px;                 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}


.section_card{
    max-width: 1600px;
    width: 100%;
    margin: 50px auto;
}

.section_card .card_heading{
    text-align: center;
    font-size: 48px;
    color: #001931;
    font-weight:700 ;
    margin-bottom: 16px;
}

.section_card .card_info{
    color: #627382;
    text-align: center;
    line-height: 20px;
    margin-bottom: 40px;
}
.section_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.section_container .card{
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow:1px 0px 12px 0 rgba(0, 0, 0, 0.08);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 12px;
    margin-bottom:16px ;
}
.card h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.section_info{
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 20px;

  display: flex;              
  align-items: center;
  gap: 80px;
}
.section_text h6{
  display: inline;
  color: #30B868;
}
.section_image,
.section_text{
  flex: 1;
}

.section_image img{
  width: 100%;
  display: block;
}
.section_text h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;     
  margin-bottom: 20px;  
    color: #001931;
}
  
.section_text p{
  font-size: 16px;
  line-height: 1.7;    
  color: #627382;
  margin-bottom: 28px;
}
.section_text li{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
   line-height: 1.6 
}
.section_skil{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 70px 20px;
}

.skil_container{
    background-color: #F7F6F2;
    max-width: 1272px;
    width: 100%;
    padding: 60px 20px;
    text-align: center;
    border-radius: 12px;
}

.skil_container h2{
    color: #001931;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 16px;
}

.skil_container p{
    color: #627382;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
}

.skil_container .batn{
    display: inline-flex;
    gap: 12px;
    margin-bottom: 16px;
    background: #30B868;
    color: #FFFFFF;
}
footer{
    max-width: 2200px;
    width: 100%;
    background-color: #001931;
    padding-top: 120px;
    padding-bottom:20px;
    text-align: center;
}

.footer_container{
    max-width: 1272px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_info h5{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: left;
}

.footer_info a{
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 16px;
    padding: 3px;
}

.foter_info i{
    color: #000000;
}

footer .copy{
    max-width: 1250px;
    width: 100%;
    margin: 80px auto 0px;
}

.copy p{
    color: #FAFAFA;
    font-size: 16px;
    font-weight:400;
} 
